* {
    /*outline: sandybrown dotted 2px;*/
}

html {
    font-size: 100%;
    font-family: 'Titillium Web', sans-serif; 
    font-weight: 400;   
    color: #454545;
}

body {
    position: relative;
}

.page-layout {
    max-width: 100vw;
    margin: auto;
    /*outline: rgb(150, 82, 22) dotted 2px;*/
    /* background-image: url(../assets/images/neutronmail.jpg);
    background-position-x: center; 
    background-repeat: no-repeat; 
    background-size: 1800px; */
    text-align: center;
}

.main-container {
    background-image: url("../assets/images/why.png");
    background-repeat: no-repeat;
    background-position-y: 78%;
    background-position-x: center;
}

.button {
    background-image: linear-gradient(to bottom right, #582c7e, #6379d0);
    font-weight: 700;  
    border-radius: 1.5em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  /*outline: rgb(96, 197, 244) dotted 2px;*/
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    /*outline: rgb(96, 244, 153) dotted 2px;*/
}

/* **********************HEADER ****************/

.header-container {
    background-image: url(../assets/images/top-background.jpg);
    background-position-x: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 1800px;
    padding-left: calc((100vw - 1400px)/2);
    padding-right: calc((100vw - 1400px)/2);
}

.top-row {
    padding-top: 4.5rem;
}

.languages-container {
    padding-top: .6rem;
    min-width: 420px;
}

.languages-container h3 {
    font-size: 1.98rem;
    letter-spacing: -.07rem;
}

.languages-container > * {
    text-align: left;
    flex: 1;
}

.languages-container span {
    color: #5B4295;
    font-family: 'Titillium Web', sans-serif; 
    font-weight: 700;
    font-size: 1.875rem; 
    letter-spacing: 0;
}

.hidden-nav-buttons {
    display: none;
}

.languages-list {
    padding-top: 1.2rem;
}

.language-name {
    padding-left: .5rem;
}

.language-name a {
    color:#959595;
    font-weight: 400;
    font-size: .875rem;
    padding: 0;
    letter-spacing: 0.02rem;
}

.language-name:first-child {
    padding-left: 0;
}

.language-name:not(:first-child)::before {
    content: ' / ';
    padding-right: .4rem;
}

.language-name a:hover {
    font-weight: 700;
}

/* ***************** NAV *******************/

.nav-container {
    flex: 8;
}

.menu-container {
    align-items: baseline;
    justify-content: flex-end;
}

.menu-item {
    font-size: 1rem; 
    display: inline-block;
    padding-left: 1rem;
    padding-right: .7rem;
    padding-top: 1rem;
    letter-spacing: -0.005rem;
}

.menu-item:not(.sign-up):hover {
    transform: scale(1.1);
    color: #5a3789;
    font-weight: 700;
    text-decoration-line: underline;
}

.menu-item a {
    color: #454545;
}

.menu-item a:not(.sign-up):hover {
    color: #5a3789;
}

.log-in {
    font-weight: 700;
    padding-left: 3rem;
    padding-right: 1.5rem;
}

.log-in span {
    color: #454545;
}
.log-in i {
    padding-left: .8rem;
    padding-right: .5rem;
}

.sign-up {
    font-weight: 700;
    padding: 0;
}

.sign-up .button {
    padding: .6rem 1rem .8rem 1.1rem;
    border-radius: 1.5rem;
    letter-spacing: -.005rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(142, 117, 222, 0.15);
}

.log-in .fas {
    color: #5B4295;
}

h1 {
    font-weight: 700;
    font-size: 3.75rem; /*60 */
}

h2 {
    font-size: 2.25rem; /*? */
    font-weight: 400;  
}

.header-main-section {
    padding-top: 10.3rem;
}

.header-main-section h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-main-section span {
    color: #fc2028;
}

.header-main-section-list {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3.8rem;
    padding-bottom: 14.5rem;
    justify-content: center;
}

.header-main-item {
    max-width: 15rem;
    margin-left: .95rem;
    margin-right: .5rem;
    align-self: baseline;
}

.header-main-item > * {
    font-family: 'Titillium Web', sans-serif; 
    font-weight: 700;
    font-size: 1.125rem; /*18*/
    color: #fff;
}

.header-main-item i {
    font-size: 1.35rem;
}

.fa-apple {
    font-size: 1.5rem;
}

.header-main-section button:first-child {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(100, 115, 151, 0.15), 0 0 7px rgba(95, 47, 106, 0.25);
}

.header-main-section li:not(:first-child) {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 1.5rem;
    padding: .75rem;
    background-clip: border-box;
    display: inline-block;
    background-color: #5f2966;
    opacity: 0.8;
}


/* ***************** HEADER ASIDE BUTTONS **********/

.header-side-buttons {
    position: fixed;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding-right: calc((100vw - 1800px)/2); 
}

.header-side-list {
    align-items: center;
}

.header-aside-item {
    opacity: 0.82;
    color: #454545;
    line-height: 2.375rem;
    font-size: 1.375rem;
}

.header-aside-item i {
    color: #454545;
}

/* *********************************ABOUT SECTION ******** */

.about {
    padding-top: 7.55rem;
    max-width: 100vw;
}

.about-container {
    padding: 0 0 2.2rem 7.5rem;
    /* outline: rgb(96, 106, 244) solid 2px; */
    flex:2.875;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;;
    position: relative;
}

.about-item img {
    float: left;
    width: 60px;
    height: 60px;
    opacity: .5;
    transform: translate(-8px,-1px);
}

.about-items {
    justify-content: center;
}

.about-items li:first-child {
    padding-left: 0;
    position: relative;
}

 .about-items li:first-child::after {
    content: "";
    position: absolute;
    border: 1px solid #b9b9b9;
    left: 100%;
    top: -75%;
    height: 13rem;
    z-index: -9999;
}

.about-items li:last-child {
    padding-right: 2rem; 
    position: relative;
}

.about-item {
    padding-left: 2.5rem;
    padding-right:2.5rem;
    /* outline: rgb(96, 244, 153) dotted 2px; */
}

.floating-img {
    position: relative;
    padding-bottom: 1.25rem;
}

.about-item h3 {
    text-align: left;
    line-height: 2.125rem;
    color: #555555;
    font-size: 1.875rem;
    letter-spacing: .01875rem;
    font-weight: 400;
}
.separete {
    padding: 0 2.75rem 2rem 2.5rem;
    flex:1.25;
}

.about-item h4 {
    text-align: left;
    line-height: 1rem;
    color: #959393;
    font-size: 1.125rem;
    letter-spacing: .01125rem;
    font-weight: 400;
}

.about-item p {
    text-align: left;
    color: #959393;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.about-main-info {
    padding: 7.75rem 2.75rem 0rem 3rem;
}

.hidden {
    display: none;
}

.hidden-button {
    display: none;
}

.about-main-title {
    color: #535353;
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
    text-align: right;
}

.about-description {
    text-align: right;
    font-size: 1.5rem;
    letter-spacing: 0.015rem;
    color: #959393;
    line-height: 1.375rem;
    padding: 1.2rem 0.4rem;
}

.about-description span {
    color: #f65151;
}

.about-more {
    border-radius: 5rem;
    border: 1px solid #b9b9b9;
    background-color: #ffffff;
    color: #676767;
    position: absolute;
    bottom: -32px;
    right: -170px;
    line-height: 1.75;
}

.about .lines {
    width: calc(50vw - 700px);
    border-top: 1px solid #b9b9b9;
}

.about .lines:first-of-type {
    border-bottom: 1px solid #b9b9b9;
    border-top: none;
}

/*******************************************TESTIMONIALS *****************/

.testimonials {
    padding-left: calc((100vw - 1800px)/2);
    padding-right: calc((100vw - 1800px)/2);
    padding-bottom: 3rem;

}

.testimonials-partners {
    padding-left: 1.25rem;
    padding-right: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
}

.testimonials-quote {
    padding-right: calc(48vw);
    padding-left: calc(50vw - 498px);
    max-width: 1800px;
    min-width: 420px;
    position: relative;
}

.testimonials-herald {
    font-family: 'Malaga', sans-serif; 
    font-size: 1.5rem;
    color: #101010;
    letter-spacing: 0.015rem;
    text-align: left;
    line-height: 1.95rem;
}

.testimonials-herald .by-whom {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #727272;
}

.dots {
    position: absolute;
    left: calc(50vw - 540px);
}

.circle-black {
    fill: black;
}

.circle-grey {
    fill: #101010;
    opacity: 0.3;
}

.testimonials-get-app {
    padding-right: calc(50vw - 203px);
    padding-left: calc(50vw - 240px);
    padding-top: 7rem;
    padding-bottom: 9rem;
}

.testimonials-get-app h3{
    font-size: 2.25rem;
    font-weight: 400;
    color: #535353;
    text-align: right;
}

.testimonials-get-app p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45rem;
    color: #959393;
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.01rem;
}

.app-buttons {
    justify-content: flex-end;
    max-width: 1800px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.app-buttons button:hover {
    opacity: .9;
}

.app-store {
    background-image: url("../assets/images/app-store.png");
    background-repeat: no-repeat;
    background-position-x: center;
    width: 180px;
    height: 55px;
    margin-right: .375rem;
    border-radius: 5px;
}

.app-google-play {
    background-image: url("../assets/images/google-play.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    border-radius: 5px;
    width: 180px;
    height: 55px;
    margin-left: .375rem;
}

.testimonials .lines {
    height: 1rem;
    margin-left: 25rem;
    border-top: 1px solid #b9b9b9;
}

/************************ DONATE *********************************/ 

.donate {
    padding-top: 3.5rem;
}

.donate h3 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #535353;
    letter-spacing: 0.02rem;
}

.donate p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.02rem;
    color: #7c7c7c;
}

.donate-buttons {
    justify-content: center;
    max-width: unset;
    padding-top: 2rem;
}

.donate-buttons button {
    font-weight: 700;
    letter-spacing: 0.0125rem;
    font-size: 1rem;
    line-height: .9rem;
}

.upgrade-container {
    flex:1.055;
}

.donate-container {
    margin-left: 1rem;
}

.upgrade-button {
    border-radius: 3rem;
    padding: 1.125rem 1.5rem;
    align-self: flex-end;
    background-image: linear-gradient(to bottom right, #646c92, #5f2e69);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(100, 115, 151, 0.15), 0 0 7px rgba(95, 47, 106, 0.25);
}

.donate-button {
    border-radius: 5rem;
    align-self: flex-start;
    margin-left: 2rem;
    padding: 1.125rem 3rem;
    background-image: linear-gradient(to bottom right, #35bce0, #5e7bea);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(26, 230, 218, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(26, 230, 218, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(26, 230, 218, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(26, 230, 218, 0.27), 0 7px 9px rgba(26, 230, 218, 0.15), 0 0 7px rgba(95, 47, 106, 0.25);
}

/* *****************************FOOTER*****************************/

.footer-top-section {
    margin-top: 2.5rem;
    max-width: 1800px;
}

.footer-main {
    padding-top: 1.2rem;
    border-top: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}

.footer-main h5 {
    text-align: end;
    color: #7a7a7a;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .005rem;
    padding-right: 1.5rem;
}

.footer-partners {
    justify-content: flex-end;
    transform: translateX(2.5rem);
    z-index: -1;
    padding-bottom: 9rem;
}

.footer-container .lines{
    width: calc(50vw - 500px);
}

.footer-links {
    text-align: right;
    padding-top: 1rem;
    padding-left: calc(50vw - 700px);
}

.footer-links-list ul {
    list-style-type: square;
    font-size: .5rem;
    direction: rtl;
    line-height: 1.27rem;
    list-style-position: inside;
    letter-spacing: .01rem;
}

.footer-links ul li a { 
    direction: ltr; unicode-bidi: embed; 
}

.footer-contacts {
    border-left: 1px solid #b9b9b9;;
    padding-left: 1.25rem;
    flex:2.33333;
    text-align: left;
    color: #5c5c5c;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: 0.01rem;
}

.footer-contacts a {
    font-weight: 700;
    color: #5c5c5c;
}

.footer-contacts p {
    padding-bottom: .5rem;
}

.support {
    padding-top: 1.5rem;
}

.support a {
    border-bottom: 1px solid #b9b9b9;
}

.footer-links-list {
    padding-right: 1.5rem;
    min-width: 200px;
}

.footer-links div:nth-of-type(2) {
    margin-right: 3.25rem;
}

.footer-links-list h5 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #5c5c5c;
    padding-bottom: 1.7rem;
    padding-right: unset;
}

.footer-links-list a {
    font-size: .875rem;
    font-weight: 400;
    color: #5c5c5c;
}

.footer-links-list li {
    padding-right: .25rem;
}

.footer-bottom {
    text-align: left;
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
    max-width: 1800px;
}

.footer-copyrights {
    color: #5c5c5c;
    font-size: .75rem;
    margin-top: 3.6rem;
    position: relative;
}

.footer-copyrights p {
    padding-top: 1.25rem;
    letter-spacing: 0.009rem;
    padding-bottom: 2rem;
}

.footer-copyrights::after {
    content: "";
    position: absolute;
    border: 1px solid #b9b9b9;
    right: calc(50% - 45px);
    bottom: 0;
    height: 315px;
}

.social-list {
    padding-top: 1.2rem;
}

.social-name {
    padding-left: .5rem;
}

.social-name a {
    color:#959595;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0.055rem;
    text-decoration: underline;
}

.social-name:first-child {
    padding-left: 0;
}

.social-name:not(:first-child)::before {
    content: ' / ';
    padding-right: .4rem;
}

.social-name a:hover {
    font-weight: 700;
}
